/* Define standard variables and values for website */
$bgcolor: #c8eed4;
$textcolor: #141414;
$fontsize: 18px;
$white: #fafafa;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}

#root{
    width:100%
}